:root {
    --primary-color: #193C40;
    --secondary-color: #04D9B2;
    --helper-color: #F28705;
    --dark-color: #000000CC;
}

body {
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

