.list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
p {
    width: 50px;
    padding: 10px;
    border: black solid;
}