*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    padding: 40px;
}

.menu {
    width: 1000px;
    margin: 0 auto;
}

.menu-item {
    margin-bottom: 30px;
}

.menu-item__title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 30px 60px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.menu-item__title:hover {
    cursor: pointer;
    background-color: #6e6c6c;
    color: #ffffff;
}

.menu-item .students {
    display: none;
}

.menu-item.active .students {
    display: block;
}

.students {
    margin-top: 15px;
    padding: 30px 60px;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color: #6e6c6c;
    color: #ffffff;
}

.students .students-item:not(:last-child) {
    margin-bottom: 30px;
}

.students-item {
    display: flex;
    font-size: 25px;
    justify-content: center;
}
